<div class="row footer">
    <div class="contact col-xs-6">
      <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true">where</span></p>
      <p><span class="glyphicon glyphicon-earphone" aria-hidden="true">phone</span></p>
      <p><span class="glyphicon glyphicon-envelope" aria-hidden="true">mail</span></p>
    </div>
    <div class="about col-xs-6">
      <h3>Acerca de VGDev</h3>

      <p>
        Somos la comunidad de desarrollo de videojuegos de la Facultad de
        Ciencias Físicas y Matemáticas de la Universidad de Chile.
      </p>

      <p>Hosted by <a href="https://github.com/">GitHub</a></p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
